.inner-col {
   -moz-box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
   -webkit-box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
   box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.048);

   .badge {
      margin-bottom: 0.5rem;
   }

   .heading {
      display: flex;
      h4 {
      margin-bottom: 0px;
      margin-right: 1rem;
      }
   }
}

.list-group {
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
   max-height: 393px;
   overflow-y: scroll;
   -webkit-overflow-scrolling: touch;
}

.btn-group {
   margin-top: 1rem;
   margin-bottom: 1rem;
   width: 100%;

   button {
      font-weight: 500;
   }
}
