.App {
   h1 {
      margin-top: 1rem;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid lightgray;
      text-align: center;
   }

   .btn-block {
      margin-bottom: 1rem;
   }
}
