
.App {
   h1 {
      text-align: center;
   }
   .inner-col {
      -moz-box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
      -webkit-box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
      box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
      border-radius: 10px;
      h4 {
         margin-top: 8px;
         margin-bottom: 1rem;
         text-align: center;
      }
   }

   .list-group {
      max-height: 400px;
      margin-bottom: 10px;
      overflow-y:scroll;
      -webkit-overflow-scrolling: touch;
   }

   .btn-group {
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 100%;
   }
}
